@model Tracker.Models.DB.Resource

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>Resource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resourceLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resourceLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProficiencyLevel.proficiencyLevel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProficiencyLevel.proficiencyLevel1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.resourceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
